{% extends "layout.html" %}

{% block content %}

    <div class="global-container">
        <table class="chars-table">
            {% for char in chars %}
                {% if loop.index % 5 == 0 %}
                    <tr>
                {% endif %}
                <td>
                    <div class="char-container">
                        <canvas></canvas>
                        <div class="char-name">ZOHAN</div>
                    </div>
                </td>
                {% if loop.index % 5 == 0 %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>      
    </div>

{% endblock %}



