{% extends "base.html" %}

{% set login_link_active = True %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
    <div class="login-container">
        <form class="login-form" action="" method="post">
            <div class="input-wrapper">
                <input name="username" type="text" placeholder="username"/>
            </div>
            <div class="input-wrapper">
                <input name="password" type="password" placeholder="password"/>
            </div>
            {% if fail_auth %}
            <button type="submit">invalid credentials, try again</button>
            {% else %}
            <button type="submit">login</button>
            {% endif %}
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}