 <!DOCTYPE html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript">
            $('.message a').click(function(e) {
                // console.log("!!!!!!!!!!")
                // document.write(5 + 6)
                // e.preventDefault();
                $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
                // return false;
            });

            // obj = document.getElementById(1)
            // console.log(obj)
        </script>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
        <title>Title of the document</title>
    </head>

    <body>
        <div class="login-page">
            <div class="form">
                <form class="register-form">
                    <input type="text" placeholder="name"/>
                    <input type="password" placeholder="password"/>
                    <input type="text" placeholder="email address"/>
                    <button>create</button>
                    <p class="message">Already registered? <a href="#" onclick="document.write(5 + 6)">Sign In</a></p>
                </form>
                <form class="login-form">
                    <input type="text" placeholder="username"/>
                    <input type="password" placeholder="password"/>
                    <button>login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
            </div>
        </div>
    </body>

</html> 