.login-container {
    width: 300px;
    margin: 120px auto;
    position: relative;
}

.login-form {
}

.input-wrapper {
    display: flex;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    height: 37px;
    padding-top: 1px;
}

.login-form input {
    display: inline-flex;
    background-color: #fff;
    border: 0;
    width: 100%;
    height: 35px;
    outline: none;

    font-size: 13px;
    font-family: Tahoma;
}

.login-form button {
    width: 100%;
    height: 35px;

    display: inline-flex;
    margin-top: 25px;

    justify-content: center;
    align-items: center;

    font-size: 15px;
}